  *{
    margin: 0;
    padding: 0;
  }
    body{
      min-height: 100vh;
      width: 100vw;
      overflow-x: hidden;
    }
  *{font-family: 'Open Sans', sans-serif;
   font-family: 'Work Sans', sans-serif;
  }
  header{
    padding: 20px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05); 
  }
  /* navication var style */
  nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
   /* padding: 20px;  */
  }
  
   .li{
 color: #000000;
text-align: center;
font-size: 1rem;
font-weight: 500;
   }
   .follow{
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
     height: 56px;
     align-items: center;
   }
   .div2{
    font-size: 2rem;
    gap:3px;

   }
   #youtube{
    color:#F61C0D;
   }
   #tiktok{
      color:rgba(0, 0, 0, 0.808);
  }
  .navigation >ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation li{
    list-style: none;

  }
  .navigation li a{
    text-decoration: none;
    margin-right: 20px;

  }
  .game{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
  }
  .game-img{
    width: 86.041px;
height: 40px;
  }
  .span-g{
    background:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  }
  .header-title{
text-align: center;
font-family: open Sans;
font-size: 45px;
font-weight: 700;
  }
.game{
    display: flex;
}


    /* main benner style */

   .banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
   }

    .banner-h1{
     color: #0B0223;
font-family: open Sans;
font-size: 2rem;
font-weight:600;
text-transform: uppercase;
    }
  .banner-style-h1{
font-family: open Sans;
font-size: 4rem;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
 background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
  }

  .similar-h4{
    color: #534C64;
font-family: open Sans;
font-size: 1.5rem;
font-weight: 400;
text-transform: lowercase;
margin-bottom: 2px;
  }

  .btn-primary{
   color: #FFF;
font-family: open Sans;
padding: 15px 30px;
font-size: 1rem;
font-weight: 400;
text-transform: uppercase;
border-radius: 50px;
border: none;
margin-top: 10px;
background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  }

  .btn-secound{
    padding: 15px 30px;
    color: #FFF;
font-family: open Sans;
font-size: 1rem;
font-weight: 400;
border-radius: 50px;
border: none;
background: #4EC5F7;
text-transform: uppercase;
margin-top: 10px;
  }

  .main-title{
    background: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
  }

  /* section 2 style */

    .section2{
      display: flex;
      justify-content: center;
      align-items: center;
    }
     .contant>.contant-h1{
font-family: open Sans;
font-size: 3rem;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
     }
   .contant>.contant-p{
    color: #534C64;
font-family: open Sans;
font-size: 1.3rem;
font-weight: 400;
   }
   .contant>.our{
    color: #534C64;
font-family: open Sans;
font-size: 1.5rem;
font-weight: 500;
   }

  /* online game */
  .online-title{
    color: #0B0223;
text-align: center;
font-family: open Sans;
font-size: 3rem;
font-weight: 700;
  }
  .Funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .online-h4{
    color: #534C64;
text-align: center;
font-family: open Sans;
font-size: 1.5rem;
font-weight: 400;
  }
  .online-game{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 50px 100px 50px 100px;
  }
  .img-title{
    color: #534C64;
font-family: open Sans;
font-size: 1rem;
font-weight: 400;
  }
    .online-img{
      width: 100%;
      height: auto;
    }
   
    /* style section4*/
    .title-section4{
   text-align: right;
font-family:open Sans;
font-size: 2rem;
font-weight: 500;
    }
    .play{
      background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .p-section4{
     color: #534C64;
text-align: right;
font-family: open Sans;
font-size: 1rem;
font-weight: 300;
    }

  .section4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 10px 20px 50px;
    gap:100px;
  }
  .img5{
    border-radius: 8px;
border: 10px solid #FFF;
    position: relative;
    bottom: 200px;
  }
  .img5{
    position: relative;
    right: 90px;
  }


  /* section5 style */

  .section5{
      display: flex;
      justify-content: center;
      align-items: center;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-bottom: 20px;
  }
  .title-h5{
    color: #FFF;
font-family: open Sans;
font-size: 3rem;
font-weight: 700;
margin-bottom: 10px;
  }
  .section-pear{
    color: #FFF;
font-family: open sans;
font-size: 1rem;
font-weight: 400;
line-height: 20px;
margin-bottom: 20px;
  } 
  
  #section-img6{
       width: 700px;
  }
   .section-div5{
    margin-left: 20px; 
       width: 1000px;
   }
       .btn5{
  font-family: open Sans;
font-size: 18px;
font-weight: 600;
text-transform: uppercase;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #FFF;
border: none;
margin-top: 20px;
       }
       .section5-h4{
  color: #FFF;
font-family: open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 40px; 
       }
  /* mobile dicice */

@media screen and (max-width:576px) {
           body{
            overflow-x: hidden;
           }
           header{
            padding: 10px;
           }
           .section-div5{
        margin-left: 10px;
            width: 100%;
            padding: 10px;
            overflow-x: hidden;
           }
           #section-img6{
            width: 100%;
            height: auto;
            overflow-x: hidden;
           }
             .section4, .section5{
             flex-direction: column;
             }
           .img4{
            width:100%;
            height: auto;
            overflow-x: hidden;
           }
           .img5{
            position: relative;
            bottom: 100px;
            width: 50%;
            right: 50px;
            height: auto;
            overflow-x: hidden;
            padding-left: 10px;
           }
           .online-game{
            grid-template-columns: repeat(1,1fr);
           }
           .img2{
            width: 100%;
            height: auto;
            overflow-x: hidden;
           }
           .section2{
            flex-direction: column;
           }
           .contant{
          text-align: center;
          gap:20px;
           }

           .banner{
            flex-direction: column-reverse;
           }
           .main-title{
            align-items: flex-start;
            align-items: center;
            justify-content: center;
           }
           .img{
                width: 100%;
                height: 350px;
                overflow: hidden;
           }
            
      nav{
        flex-direction: column;
        gap:5px;
      }
      .navigation >ul{
        flex-direction: column;
        gap:20px;
      }

    }


/* tablate divice */
@media screen and (min-width:576px) and (max-width:960px) {
  body{
    overflow-x: hidden;
   }
   header{
    padding: 10px;
   }
   .section-div5{
    width: 100%;
    padding: 10px;
    overflow-x: hidden;
   }
   #section-img6{
    width: 100%;
    height: auto;
    overflow-x: hidden;

     .section4,.section5{
     flex-direction: column;
     }
     .img5{
      position: relative;
      bottom: 200px;
      right: 100px;
      width: 50%;
      height: auto;
      overflow-x: hidden;
      padding-left: 20px;
     }

   .img4{
    width:100%;
    height: auto;
    overflow-x: hidden;
   }
   .online-game{
    grid-template-columns: repeat(1,1fr);
   }
   .img2{
    width: 100%;
    height: auto;
    overflow-x: hidden;
   }
   .section2{
    flex-direction: column;
   }
   .contant{
     text-align: center;
    gap:20px;
   }


   .img{
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.banner{
  flex-direction: column;
 }
 .main-title{
  align-items: flex-start;
  align-items: center;
  justify-content: center;
 }

nav{
flex-direction: column;
gap:5px;
}
 /* .navigation >ul{
flex-direction: column;
gap:20px;
} */
}